
site_name: Kiminaze's Script Gems
site_url: https://kiminaze.github.io/docs/
site_description: "Documentation for my resources"
site_author: "Kiminaze"

theme:
  name: material
  custom_dir: overrides/
  palette:
    - scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Light mode
    - scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Dark mode
  features:
    - navigation.path
    - navigation.footer
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - content.code.select
    - content.code.annotate

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Kiminaze
    - icon: fontawesome/brands/discord
      link: https://discord.kiminaze.de
    - icon: fontawesome/brands/youtube
      link: https://yt.kiminaze.de
  consent:
    title: Cookie consent
    description: >- 
      We use cookies for displaying YouTube videos. With your consent, you're allowing us to embed these videos directly.<br>
      <a href="/imprint/#3-privacy-policy">Our Privacy Policy</a>
    actions:
      - accept
      - reject
    cookies:
      youtube:
        name: YouTube - <a href="https://policies.google.com/privacy?hl=en#footnote-data-controller" target="_blank">Privacy Policy</a>
        checked: true

copyright: >
  Copyright &copy; 2025 Philipp Decker - <a href="/imprint/">Imprint</a> - <a href="#__consent">Change cookie settings</a>

validation:
  omitted_files: ignore
  not_found: ignore

extra_javascript:
  - javascripts/yt_replace.js
  - javascripts/tabbox.js

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - toc:
      permalink: '#'
      baselevel: 1
  - admonition
  - codehilite
  - footnotes
  - meta
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - awesome-nav
  - privacy
